<!--Phần bander-->
<div class="container-fluid" id="Bander">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="text1">Civi Publisher FAQ</p>
        <p class="text2">Câu hỏi thường gặp dành cho Publisher</p>
        <div class="GupSeach">
          <i class="fa fas fa-search"></i>
          <input class="form-control form-control-lg search" type="text" placeholder="Search the knowledge base...">
        </div>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/FAQ.png" />
      </div>
    </div>
  </div>
  <p class="Ticket">
    Tạo Ticket
  </p>
</div>
<!--end bander-->
<!--phần nội dung trang-->
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <p class="col-md-12 texttop">Dưới đây là nhưng câu hỏi thường gặp, bạn có thể tìm thấy nội dung mà mong muốn
          trong nhữn câu hỏi này</p>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="Menucon">
    <div class="container">
      <div class="row susMenu">
        <ul>
          <li>
            <a href="#" title="Home">Home</a><span>/</span>
          </li>
          <li>
            <a href="#" title="Sự kiện">Sự kiện</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--wapper-->
  <div class="container-fluid" id="wapper">
    <div class="container">
      <div class="row">
        <div id="accordion" class="col-md-12">
          <!--card 1-->
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <i class="fa far fa-plus-square"></i>
                  <samp>Làm thế nào để tham gia vào hệ thống Civi.vn?</samp>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Bạn chỉ cần đăng nhập vào trang web: http://civi.vn/ chọn phần đăng ký Đối tác, điền đầy đủ thông tin
                  vào bản đăng ký theo 2 bước, sau đó vào mail đã đăng ký xác nhận thông tin và đăng nhập lại hệ thống.
                  Từ đấy bạn đã hoàn thành thủ tục tham gia vào hệ thống Civi.vn.
                </p>
                <p>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa far fa-star"></i>

                </p>
                <p class="text">
                  4.1 (81.32%) 106 vote
                </p>
              </div>
            </div>
          </div>
          <!--card 2-->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa far fa-plus-square"></i>
                  <samp> Làm sao để đo đếm hiệu quả của chiến dịch?</samp>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Bạn chỉ cần đăng nhập vào trang web: http://civi.vn/ chọn phần đăng ký Đối tác, điền đầy đủ thông tin
                  vào bản đăng ký theo 2 bước, sau đó vào mail đã đăng ký xác nhận thông tin và đăng nhập lại hệ thống.
                  Từ đấy bạn đã hoàn thành thủ tục tham gia vào hệ thống Civi.vn.
                </p>
                <p>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa far fa-star"></i>

                </p>
                <p class="text">
                  4.1 (81.32%) 106 vote
                </p>
              </div>
            </div>
          </div>
          <!--card 3-->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa far fa-plus-square"></i>
                  <samp>Làm thế nào để đăng được chiến dịch lên website của mình?</samp>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Bạn chỉ cần đăng nhập vào trang web: http://civi.vn/ chọn phần đăng ký Đối tác, điền đầy đủ thông tin
                  vào bản đăng ký theo 2 bước, sau đó vào mail đã đăng ký xác nhận thông tin và đăng nhập lại hệ thống.
                  Từ đấy bạn đã hoàn thành thủ tục tham gia vào hệ thống Civi.vn.
                </p>
                <p>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa far fa-star"></i>

                </p>
                <p class="text">
                  4.1 (81.32%) 106 vote
                </p>
              </div>
            </div>
          </div>
          <!--card 4-->
          <div class="card">
            <div class="card-header" id="heading4">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4"
                  aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa far fa-plus-square"></i>
                  <samp>Làm sao để chạy chiến dịch trên facebook?</samp>
                </button>
              </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Bạn chỉ cần đăng nhập vào trang web: http://civi.vn/ chọn phần đăng ký Đối tác, điền đầy đủ thông tin
                  vào bản đăng ký theo 2 bước, sau đó vào mail đã đăng ký xác nhận thông tin và đăng nhập lại hệ thống.
                  Từ đấy bạn đã hoàn thành thủ tục tham gia vào hệ thống Civi.vn.
                </p>
                <p>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa far fa-star"></i>

                </p>
                <p class="text">
                  4.1 (81.32%) 106 vote
                </p>
              </div>
            </div>
          </div>
          <!--card 5-->
          <div class="card">
            <div class="card-header" id="heading5">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5"
                  aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa far fa-plus-square"></i>
                  <samp>Website có các kích thước mà trên hệ thống không có thì có được</samp>
                </button>
              </h5>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Bạn chỉ cần đăng nhập vào trang web: http://civi.vn/ chọn phần đăng ký Đối tác, điền đầy đủ thông tin
                  vào bản đăng ký theo 2 bước, sau đó vào mail đã đăng ký xác nhận thông tin và đăng nhập lại hệ thống.
                  Từ đấy bạn đã hoàn thành thủ tục tham gia vào hệ thống Civi.vn.
                </p>
                <p>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa far fa-star"></i>

                </p>
                <p class="text">
                  4.1 (81.32%) 106 vote
                </p>
              </div>
            </div>
          </div>
          <!--card 6-->
          <div class="card">
            <div class="card-header" id="heading6">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6"
                  aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa far fa-plus-square"></i>
                  <samp>Bao giờ thì được thanh toán tiền?</samp>
                </button>
              </h5>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Bạn chỉ cần đăng nhập vào trang web: http://civi.vn/ chọn phần đăng ký Đối tác, điền đầy đủ thông tin
                  vào bản đăng ký theo 2 bước, sau đó vào mail đã đăng ký xác nhận thông tin và đăng nhập lại hệ thống.
                  Từ đấy bạn đã hoàn thành thủ tục tham gia vào hệ thống Civi.vn.
                </p>
                <p>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa fas fa-star"></i>
                  <i class="fa far fa-star"></i>

                </p>
                <p class="text">
                  4.1 (81.32%) 106 vote
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Load more-->
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-4 Loadmore">
          <a href="#" title="Load more">Load more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end phần nội dung-->