<!--Phần bander-->
<div class="container-fluid" id="Bander">
  <div class="container">
    <div class="row">
      <p class="col-md-12 top">
        <img src="assets/themes/theme01/assets/css/pic/icon/icondangky.png" />
      </p>
      <p class="col-md-12 text1">Đăng kí</p>
      <p class="col-md-12 text2">Dễ dàng, đầy đủ và chi tiết nhất trong vô vàn tri thức từ Civi.</p>
      <p class="col-md-12 item">
        <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/Dangky.png" />
      </p>
    </div>
  </div>
</div>
<!--end bander-->
<!--phần nội dung trang-->
<section>
  <div class="container">
    <div class="row">
      <p class="col-md-12 susText">Civi.vn - Affiliate Marketing</p>
    </div>
  </div>
  <!--end phần trên-->
  <div class="container-fluid" id="wapper">
    <div class="container">
      <div class="row conten">
        <form class="col-md-10 offset-md-1">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tên đăng nhập">

            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật Khẩu">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu">
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Số điện thoại">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Website">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Đại chỉ liên hệ" />

          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <samp>Đồng ý với <span>điều khoản dành cho đối tác</span></samp>
              <input type="checkbox" class="form-check-input text2">
              <samp class="text3">Đồng ý đăng ký nhận thông tin từ Civi,vn</samp>
            </label>
          </div>
          <p>Khi đăng ký tài khoản là bạn đã đồng ý với chính sách bảo mật, điều khoản của Civi.vn và nhận tài liệu
            hướng dẫn quan Messenger.</p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">Send to
              <img src="assets/themes/theme01/assets/css/pic/icon/icon_meessger.png" />
              Messenger
            </label>
          </div>
          <button type="submit" class="btn btn-primary offset-md-4" title="Đăng ký">Đăng ký</button>
          <p class="text1 offset-md-4">
            Đã có tài khoản? 
            <a href="#" title="Đăng nhập">Đăng nhập</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<!--end phần nội dung-->