<!--Phần bander-->
<div class="container-fluid" id="Bander">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="text1">Knowledge Base</p>
        <p class="text2">Dễ dàng, đầy đủ và chi tiết nhất trong vô vàn tri thức từ Civi.</p>
        <div class="GupSeach">
          <i class="fa fas fa-search"></i>
          <input class="form-control form-control-lg search" type="text" placeholder="Search the knowledge base...">
        </div>
      </div>
      <div class="col-md-4">
        <!--<img class="img-fluid" src="assets/themes/theme01/assets/css/pic/imgsliechayqc1.png" />-->
      </div>
    </div>
  </div>
  <p class="Ticket">
    Tạo Ticket
  </p>
</div>
<!--end bander-->
<!--phần nội dung trang-->
<section>
  <div class="container">
    <div class="row suMenu">
      <ul>
        <li>
          <a href="#" title="Home">Home</a><span>/</span>
        </li>
        <li>
          <a href="#" title="Knowledge Base">Knowledge Base</a><span>/</span>
        </li>
        <li>
          <a href="#" title="Cách chạy QC">Hướng dẫn với civi</a><span>/</span>
        </li>
      </ul>
    </div>
    <div class="row Advertiser">
      <p class="col-md-12 head">Dành cho Advertiser</p>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
    </div>
    <div class="row Advertiser">
      <p class="col-md-12 head">Dành cho Publisher</p>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
      <div class="col-md-6 conten">
        <div class="row item">
          <div class="col-md-2 left">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <a class="col-md-9 right" href="#" title=" Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?">
            Đo Lường Chỉ Số ROI Của Influencer Marketing Như Thế Nào?
          </a>
        </div>
      </div>
    </div>
    <div class="row feedback">
      <p class="col-md-12 text1">
        Phản hồi mới
      </p>
      <p class="col-md-6 offset-md-3 text2">
        Các dạng website cơ bản để kiếm tiền với ACCESSTRADE
      </p>
    </div>
  </div>
  <div class="container-fluid" id="wapper">
    <div class="container">
      <div class="row conten">
        <p class="col-md-12 head ">
          Hướng dẫn với Civi
        </p>
        <div class="col-md-6">
          <div class="row item">
            <div class="col-md-2 left">
              <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
            </div>
            <div class="col-md-10  right">
              <a href="#" title="dfsfds">Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác Với Barand
                Chưa Bao Giờ Dễ Dàng Đến Thế</a>
              <p>
                Created: <samp>20/04/2018 </samp>
                Author:
                <samp> tamluu@intsace.vn</samp>
              </p>
            </div>
          </div>
          <div class="row item">
            <div class="col-md-2 left">
              <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
            </div>
            <div class="col-md-10  right">
              <a href="#" title="dfsfds">Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác Với Barand
                Chưa Bao Giờ Dễ Dàng Đến Thế</a>
              <p>
                Created: <samp>20/04/2018 </samp>
                Author:
                <samp> tamluu@intsace.vn</samp>
              </p>
            </div>
          </div>
          <div class="row item">
            <div class="col-md-2 left">
              <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
            </div>
            <div class="col-md-10  right">
              <a href="#" title="dfsfds">Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác Với Barand
                Chưa Bao Giờ Dễ Dàng Đến Thế</a>
              <p>
                Created: <samp>20/04/2018 </samp>
                Author:
                <samp> tamluu@intsace.vn</samp>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row item">
            <div class="col-md-2 left">
              <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
            </div>
            <div class="col-md-10  right">
              <a href="#" title="dfsfds">Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác Với Barand
                Chưa Bao Giờ Dễ Dàng Đến Thế</a>
              <p>
                Created: <samp>20/04/2018 </samp>
                Author:
                <samp> tamluu@intsace.vn</samp>
              </p>
            </div>
          </div>
          <div class="row item">
            <div class="col-md-2 left">
              <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
            </div>
            <div class="col-md-10  right">
              <a href="#" title="dfsfds">Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác Với Barand
                Chưa Bao Giờ Dễ Dàng Đến Thế</a>
              <p>
                Created: <samp>20/04/2018 </samp>
                Author:
                <samp> tamluu@intsace.vn</samp>
              </p>
            </div>
          </div>
          <div class="row item">
            <div class="col-md-2 left">
              <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
            </div>
            <div class="col-md-10  right">
              <a href="#" title="dfsfds">Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác Với Barand
                Chưa Bao Giờ Dễ Dàng Đến Thế</a>
              <p>
                Created: <samp>20/04/2018 </samp>
                Author:
                <samp> tamluu@intsace.vn</samp>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end phần nội dung-->