<!--Phần bander-->
<div class="container-fluid" id="Bander">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="text1">Thông báo mới</p>
        <p class="text2">Cập nhật thông báo chiến dịch</p>

      </div>
      <div class="col-md-8">
        <div class="GupSeach">
          <i class="fa fas fa-search"></i>
          <input class="form-control form-control-lg search" type="text" placeholder="Search the knowledge base...">
        </div>
      </div>
    </div>
  </div>
</div>
<!--end bander-->
<!--phần nội dung trang-->
<section>
  <div class="container">
    <div class="row">
      <p class="col-md-12 susText">Cập nhật thông báo về tính năng mới trên hệ thống</p>
    </div>
  </div>
  <!--end phần trên-->
  <div class="container-fluid" id="Menucon">
    <div class="container">
      <div class="row susMenu">
        <ul>
          <li>
            <a href="#" title="Home">Home</a><span>/</span>
          </li>
          <li>
            <a href="#" title="Cập nhật thông tin chiến dịch">Cập nhật thông tin chiến dịch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="Wapper">
    <div class="container">
      <div class="row conten">
        <div class="col-md-12 right">
          <a class="text1" href="#" title="Trao giải Top Race Lazada">
            Tracking nhiều lớp trong chiến dịch Shopee desktop và <br /> ảnh hưởng khi publisher chạy link cuối
          </a>
          <p class="text2">
            Posted: <samp>20/04/2018 </samp>
            By:<samp> tamluu@intsace.vn</samp>
            In: <samp>Cập nhật thông tin chiến dịch</samp>
          </p>
          <p class="text3">
            Civi xin thông báo, kể từ ngày 19/5, campaign Lazada PC sẽ tạm dừng đơn hàng vẫn được ghi nhận theo cookie
            và tính hoa hồng đến ngày 21/5. Từ ngày 21/5, toàn bộ đơn hàn phát sinh từ PC sẽ không được ghi nhận hoa
            hồng nữa. Campaign Lazada sẽ chi ghi nhận đơn hàng [...]
          </p>
          <a class="text4" href="#" title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
      <div class="row conten">
        <div class="col-md-12 right">
          <a class="text1" href="#" title="Trao giải Top Race Lazada">
            Tracking nhiều lớp trong chiến dịch Shopee desktop và <br /> ảnh hưởng khi publisher chạy link cuối
          </a>
          <p class="text2">
            Posted: <samp>20/04/2018 </samp>
            By:<samp> tamluu@intsace.vn</samp>
            In: <samp>Cập nhật thông tin chiến dịch</samp>
          </p>
          <p class="text3">
            Civi xin thông báo, kể từ ngày 19/5, campaign Lazada PC sẽ tạm dừng đơn hàng vẫn được ghi nhận theo cookie
            và tính hoa hồng đến ngày 21/5. Từ ngày 21/5, toàn bộ đơn hàn phát sinh từ PC sẽ không được ghi nhận hoa
            hồng nữa. Campaign Lazada sẽ chi ghi nhận đơn hàng [...]
          </p>
          <a class="text4" href="#" title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
      <div class="row conten">
        <div class="col-md-12 right">
          <a class="text1" href="#" title="Trao giải Top Race Lazada">
            Tracking nhiều lớp trong chiến dịch Shopee desktop và <br /> ảnh hưởng khi publisher chạy link cuối
          </a>
          <p class="text2">
            Posted: <samp>20/04/2018 </samp>
            By:<samp> tamluu@intsace.vn</samp>
            In: <samp>Cập nhật thông tin chiến dịch</samp>
          </p>
          <p class="text3">
            Civi xin thông báo, kể từ ngày 19/5, campaign Lazada PC sẽ tạm dừng đơn hàng vẫn được ghi nhận theo cookie
            và tính hoa hồng đến ngày 21/5. Từ ngày 21/5, toàn bộ đơn hàn phát sinh từ PC sẽ không được ghi nhận hoa
            hồng nữa. Campaign Lazada sẽ chi ghi nhận đơn hàng [...]
          </p>
          <a class="text4" href="#" title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
      <div class="row conten">
        <div class="col-md-12 right">
          <a class="text1" href="#" title="Trao giải Top Race Lazada">
            Tracking nhiều lớp trong chiến dịch Shopee desktop và <br /> ảnh hưởng khi publisher chạy link cuối
          </a>
          <p class="text2">
            Posted: <samp>20/04/2018 </samp>
            By:<samp> tamluu@intsace.vn</samp>
            In: <samp>Cập nhật thông tin chiến dịch</samp>
          </p>
          <p class="text3">
            Civi xin thông báo, kể từ ngày 19/5, campaign Lazada PC sẽ tạm dừng đơn hàng vẫn được ghi nhận theo cookie
            và tính hoa hồng đến ngày 21/5. Từ ngày 21/5, toàn bộ đơn hàn phát sinh từ PC sẽ không được ghi nhận hoa
            hồng nữa. Campaign Lazada sẽ chi ghi nhận đơn hàng [...]
          </p>
          <a class="text4" href="#" title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
      <div class="row conten">
        <div class="col-md-12 right">
          <a class="text1" href="#" title="Trao giải Top Race Lazada">
            Tracking nhiều lớp trong chiến dịch Shopee desktop và <br /> ảnh hưởng khi publisher chạy link cuối
          </a>
          <p class="text2">
            Posted: <samp>20/04/2018 </samp>
            By:<samp> tamluu@intsace.vn</samp>
            In: <samp>Cập nhật thông tin chiến dịch</samp>
          </p>
          <p class="text3">
            Civi xin thông báo, kể từ ngày 19/5, campaign Lazada PC sẽ tạm dừng đơn hàng vẫn được ghi nhận theo cookie
            và tính hoa hồng đến ngày 21/5. Từ ngày 21/5, toàn bộ đơn hàn phát sinh từ PC sẽ không được ghi nhận hoa
            hồng nữa. Campaign Lazada sẽ chi ghi nhận đơn hàng [...]
          </p>
          <a class="text4" href="#" title="Xem thêm">
            Xem thêm
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 offset-md-4 Loadmore">
          <a href="#" title="Load more">Load more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end phần nội dung-->