<!--Phần bander-->
<div class="container-fluid" id="Bander">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="text1">Knowledge Base</p>
        <p class="text2">Dễ dàng, đầy đủ và chi tiết nhất trong vô vàn tri thức từ Civi.</p>
        <div class="GupSeach">
          <i class="fa fas fa-search"></i>
          <input class="form-control form-control-lg search" type="text" placeholder="Search the knowledge base...">
        </div>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/imgsliechayqc1.png" />
      </div>
    </div>
  </div>
  <p class="Ticket">
    Tạo Ticket
  </p>
</div>
<!--end bander-->
<!--phần nội dung trang-->
<section>
  <div class="container">
    <div class="row suMenu">
      <ul>
        <li>
          <a href="#" title="Home">Home</a><span>/</span>
        </li>
        <li>
          <a href="#" title="Knowledge Base">Knowledge Base</a><span>/</span>
        </li>
        <li>
          <a href="#" title="Cách chạy QC">Cách chạy QC</a>
        </li>
      </ul>
    </div>
    <div class="row Advertiser">
      <div class="col-md-4">
        <p class="head">
          Advertiser
        </p>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <p class="col-md-9 left">
            Quy định để trở thành Advertiser
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <p class="col-md-9 left">
            Advertiser là ai?
          </p>
        </div>
      </div>
      <div class="col-md-4 center">
        <p class="head2">
          Affiliate Marketing
        </p>
        <a href="#" class="icon6">
          <img src="assets/themes/theme01/assets/css/pic/icon/icon6.png" />
        </a>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon3.png" />
          </div>
          <p class="col-md-9 left">
            Các mô hình Affiliate Marketing tại Việt Nam
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon3.png" />
          </div>
          <p class="col-md-9 left">
            CAffiliate Marketing: Xu hướng kiếm tiền Online 2018
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon3.png" />
          </div>
          <p class="col-md-9 left">
            Những xu hướng Affiliate Marketing năm 2018
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon3.png" />
          </div>
          <p class="col-md-9 left">
            Sự bùng nổ Influencer Marketing năm 2018
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon3.png" />
          </div>
          <p class="col-md-9 left">
            Lịch sử hình thành Affiliate Marketing tại Việt Nam
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <p class="head">
          Publisher
        </p>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <p class="col-md-9 left">
            Tham Gia Affiliate Marketing: Cơ Hội Cho Micro Influencer Hợp Tác với Brabd Chưa Bao Giờ Dễ Dàng Đến Thế
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <p class="col-md-9 left">
            Beauty Blogger Nghề Hot Nhất Năm 2018
          </p>
        </div>
        <div class="row item1">
          <div class="col-md-3 right">
            <img class="img-fluid" src="assets/themes/theme01/assets/css/pic/icon/icon1.png" />
          </div>
          <p class="col-md-9 left">
            Beaty Bloger gia tăng thu nhập với Affiliate Marketing - Tại sao không?
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 hang3">
        <a href="#">
          <img src="assets/themes/theme01/assets/css/pic/icon/icon5.png" />
        </a>
        <a href="#">
          <img src="assets/themes/theme01/assets/css/pic/icon/icon4.png" />
        </a>
        <a href="#">
          <img src="assets/themes/theme01/assets/css/pic/icon/icon5.png" />
        </a>
        <a href="#">
          <img src="assets/themes/theme01/assets/css/pic/icon/icon5.png" />
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="QC">
    <div class="container">
      <div class="row conten">
        <p class="col-md-12 head ">
          Cách chạy quảng cáo
        </p>
        <div class="col-md-6">
          <div class="row item" *ngFor="let eachQuangCao of quangcaos">
            <div class="col-md-2 left">
              <img class="img-fluid" src="{{eachQuangCao.LinkImg}}" />
            </div>
            <div class="col-md-10  right">
              <a routerLink="/{{eachQuangCao.Link}}" title="{{eachQuangCao.Tieude}}">
                {{eachQuangCao.Mota}} 
              </a>
              <p>
                Created: <samp>{{eachQuangCao.Created}} </samp>
                Author:
                <samp> {{eachQuangCao.Author}}</samp>
              </p>
            </div>
          </div>
        </div>
        <!-- coot2 -->
        <div class="col-md-6">
            <div class="row item" *ngFor="let eachQuangCao of quangcaos">
              <div class="col-md-2 left">
                <img class="img-fluid" src="{{eachQuangCao.LinkImg}}" />
              </div>
              <div class="col-md-10  right">
                <a routerLink="/{{eachQuangCao.Link}}" title="{{eachQuangCao.Tieude}}">
                  {{eachQuangCao.Mota}} 
                </a>
                <p>
                  Created: <samp>{{eachQuangCao.Created}} </samp>
                  Author:
                  <samp> {{eachQuangCao.Author}}</samp>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!--end phần nội dung-->