@charset "UTF-8";
header .navbar {
  width: 100%; }
  header .navbar .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 13px;
    padding-right: 20px; }
    header .navbar .dropdown:hover .dropdown-content {
      display: block;
      z-index: 100; }
    header .navbar .dropdown .nav-link {
      color: #6c6c6c;
      font: bold 16px 'utm-avo'; }
    header .navbar .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      z-index: 1;
      list-style: none; }
  header .navbar .notification {
    position: relative;
    z-index: 3; }
    header .navbar .notification:hover {
      cursor: pointer; }
    header .navbar .notification .fa-bell {
      color: #00aeef;
      font-size: 20px;
      padding-top: 15px; }
    header .navbar .notification .numeber {
      position: absolute;
      z-index: 10;
      top: 7px;
      left: 9px;
      background: #ed1c24;
      color: #fff;
      display: block;
      padding: 1px 5px;
      font-size: 9px;
      font-weight: bold;
      border-radius: 100%; }

/*foooer*/
footer {
  background: #00aeef;
  color: #fff; }
  footer .head {
    font: bold 15px 'RobotoBold';
    text-transform: uppercase;
    margin-top: 27px;
    margin-bottom: 13px; }
  footer .text {
    font: normal 12px 'RobotoRegular';
    line-height: 23px; }
  footer .support {
    padding-left: 5px; }
    footer .support p {
      font: normal 12px 'RobotoRegular';
      padding-top: 7px; }
      footer .support p span {
        font: normal 12px 'RobotoBold'; }
      footer .support p .Hotline {
        padding-left: 45px; }
      footer .support p .KyThuat {
        padding-left: 33px; }
      footer .support p .Email {
        padding-left: 55px; }
  footer .Copyright {
    margin-top: 45px; }
    footer .Copyright p {
      font: normal 12px 'RobotoRegular';
      margin-bottom: 25px; }

body {
  margin: 0 auto;
  background-color: #fafafa; }

p {
  margin: 0; }

/*Bander*/
#Bander {
  background: #00aeef;
  color: #fff;
  position: relative;
  z-index: 1; }
  #Bander .text1 {
    font: normal 35px 'RobotoBold';
    padding-top: 50px; }
  #Bander .text2 {
    font: normal 18px 'utm-avo';
    color: #e9f5fd;
    padding-bottom: 50px; }
  #Bander .GupSeach {
    position: relative;
    z-index: 2;
    padding-top: 57px; }
    #Bander .GupSeach i {
      color: #333;
      position: absolute;
      font-size: 18px;
      top: 70%;
      left: 22px;
      z-index: 10; }
      #Bander .GupSeach i:hover {
        cursor: pointer;
        transform: scale(1.5);
        transition: 0.3s;
        color: #00aeef; }
    #Bander .GupSeach .search {
      border-radius: 15.3rem;
      padding: 0.5rem 3rem; }
  #Bander img {
    margin-top: 44px;
    margin-bottom: 53px; }
  #Bander .Ticket {
    font: normal 22px 'utm-avo';
    background: #ed1c24;
    color: #fbc810;
    display: inline-block;
    border: solid 2px #fff;
    padding: 6px 38px;
    border-radius: 12px 12px 0 0;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: -72px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg); }
    #Bander .Ticket:hover {
      background: #00aeef;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s; }

/*end*/
/*nội dung trang*/
section {
  /*SusMenu*/
  /*Wapper*/ }
  section .susText {
    font: normal 18px 'utm-avo';
    color: #5c5c5c;
    padding-left: 22px;
    margin-top: 23px;
    margin-bottom: 32px; }
  section #Menucon {
    background: #f3f3f3;
    border-bottom: solid 1px #d6e4ea; }
    section #Menucon .susMenu {
      padding-top: 32px;
      padding-bottom: 33px; }
      section #Menucon .susMenu ul {
        list-style: none;
        padding-left: 0; }
        section #Menucon .susMenu ul li {
          display: inline-block; }
          section #Menucon .susMenu ul li a {
            color: #333333;
            border-left: 0px solid transparent;
            border-right: 8px solid transparent;
            height: 0;
            width: 100px;
            font: normal 30px 'utm-avo'; }
            section #Menucon .susMenu ul li a:hover {
              color: #00aeef;
              transition: all 0.3s;
              text-decoration: none; }
          section #Menucon .susMenu ul li span {
            font-size: 30px; }
  section #Wapper {
    background: #f3f3f3; }
    section #Wapper .container {
      padding-top: 45px; }
      section #Wapper .container .conten {
        background: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        margin-bottom: 42px;
        /*.left {
                    padding: 20px 18px;
                }*/ }
        section #Wapper .container .conten .right {
          padding: 30px 135px 0 100px; }
          section #Wapper .container .conten .right .text1 {
            display: block;
            font: normal 25px 'RobotoBold';
            color: #00aeef;
            padding-bottom: 15px;
            border-bottom: 1px solid #e7e7e7;
            text-decoration: none; }
            section #Wapper .container .conten .right .text1:hover {
              color: #e8ad65;
              transition: all 0.3s; }
          section #Wapper .container .conten .right .text2 {
            font: normal 14px 'utm-avo';
            color: #ffb542;
            margin-top: 12px;
            padding-bottom: 20px; }
            section #Wapper .container .conten .right .text2 samp {
              color: #666666;
              padding-left: 3px;
              padding-right: 27px; }
          section #Wapper .container .conten .right .text3 {
            font: normal 16px 'RobotoRegular';
            color: #666666; }
          section #Wapper .container .conten .right .text4 {
            display: inline-block;
            border: 1px solid #00aeef;
            padding: 4px 20px;
            font: normal 16px 'utm-avobold';
            border-radius: 30px;
            margin: 40px 0;
            text-decoration: none; }
            section #Wapper .container .conten .right .text4:hover {
              color: #e8ad65;
              transition: all 0.3s; }
      section #Wapper .container .Loadmore {
        margin-top: 50px;
        margin-bottom: 117px; }
        section #Wapper .container .Loadmore a {
          text-align: center;
          display: block;
          padding: 12px 40px;
          background: #00aeef;
          border-radius: 30px;
          border-radius: 151px;
          font: normal 22px 'utm-avobold';
          color: #fff;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.57);
          text-decoration: none; }
          section #Wapper .container .Loadmore a:hover {
            background: #fff;
            color: #00aeef;
            transition: all 0.8s; }

/*end*/
