@font-face
{
    font-family: 'MyriadProCondensed';
    src: url('myriadprocondensed.eot'); /* IE9 Compat Modes */
    src: url('myriadprocondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('myriadprocondensed.woff') format('woff'), /* Modern Browsers */
    url('Myriad Pro Condensed.ttf') format('truetype'), /* Safari, Android, iOS */
    url('myriadprocondensed.svg#MyriadProCondensed') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'MyriadProBoldCondensed';
    src: url('myriadproboldcondensed.eot'); /* IE9 Compat Modes */
    src: url('myriadproboldcondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('myriadproboldcondensed.woff') format('woff'), /* Modern Browsers */
    url('Myriad Pro Bold Condensed.ttf') format('truetype'), /* Safari, Android, iOS */
    url('myriadproboldcondensed.svg#MyriadProBoldCondensed') format('svg'); /* Legacy iOS */
}

@font-face
{
    font-family: 'SegoeUI';
    src: url('segoeui.eot'); /* IE9 Compat Modes */
    src: url('segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeui.woff') format('woff'), /* Modern Browsers */
    url('Segoe UI.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeui.svg#SegoeUI') format('svg'); /* Legacy iOS */
}


@font-face
{
    font-family: 'SegoeUIBold';
    src: url('segoeuibold.eot'); /* IE9 Compat Modes */
    src: url('segoeuibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('segoeuibold.woff') format('woff'), /* Modern Browsers */
    url('Segoe UI Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('segoeuibold.svg#SegoeUI') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'UTMImpact';
    src: url('UTM Impact.eot'); /* IE9 Compat Modes */
    src: url('UTM Impact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('UTM Impact.woff') format('woff'), /* Modern Browsers */
    url('UTM Impact.ttf') format('truetype'), /* Safari, Android, iOS */
    
}

@font-face
{
    font-family: 'Arimo-Regular';
    src: url('Arimo-Regular.eot'); /* IE9 Compat Modes */
    src: url('Arimo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Arimo-Regular.woff') format('woff'), /* Modern Browsers */
    url('Arimo-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Arimo-Regular.svg#Arimo-Regular') format('svg'); /* Legacy iOS */
}


@font-face
{
    font-family: 'Arimo-Italic';
    src: url('Arimo-Italic.eot'); /* IE9 Compat Modes */
    src: url('Arimo-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Arimo-Italic.woff') format('woff'), /* Modern Browsers */
    url('Arimo-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Arimo-Italic.svg#Arimo-Italic') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'Arimo-BoldItalic';
    src: url('Arimo-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('Arimo-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Arimo-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('Arimo-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Arimo-BoldItalic.svg#Arimo-BoldItalic') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'Arimo-Bold';
    src: url('Arimo-Bold.eot'); /* IE9 Compat Modes */
    src: url('Arimo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Arimo-Bold.woff') format('woff'), /* Modern Browsers */
    url('Arimo-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Arimo-Bold.svg#SegoeUI') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'SFUFuturaBook';
    src: url('SFUFuturaBook.eot'); /* IE9 Compat Modes */
    src: url('SFUFuturaBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('SFUFuturaBook.woff') format('woff'), /* Modern Browsers */
    url('SFUFuturaBook.ttf') format('truetype'), /* Safari, Android, iOS */
    url('SFUFuturaBook.svg#SFUFuturaBook') format('svg'); /* Legacy iOS */
}
@font-face
{
    font-family: 'UTM Impact';
    src: url('UTM Impact.eot'); /* IE9 Compat Modes */
    src: url('UTM Impact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('UTM Impact.woff') format('woff'), /* Modern Browsers */
    url('UTM Impact.ttf') format('truetype'), /* Safari, Android, iOS */
    url('UTM Impact.svg#UTM Impact') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
    url('OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'); /* OpenSans-Regular iOS */
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('RobotoCondensed-Regular.eot'); /* IE9 Compat Modes */
    src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('RobotoCondensed-Regular.woff') format('woff'), /* Modern Browsers */
    url('RobotoCondensed-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg'); /* OpenSans-Regular iOS */
}
@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Roboto-Bold.woff') format('woff'), /* Modern Browsers */
    url('Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Roboto-Bold.svg#Roboto-Bold') format('svg'); /* OpenSans-Regular iOS */
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Roboto-Regular.svg#Roboto-Regular') format('svg'); /* OpenSans-Regular iOS */
}

@font-face {
    font-family: 'utm-avo';
    src: url('utm-avo.eot'); /* IE9 Compat Modes */
    src: url('utm-avo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('utm-avo.woff') format('woff'), /* Modern Browsers */
    url('utm-avo.ttf') format('truetype'), /* Safari, Android, iOS */
    url('utm-avo.svg#utm-avo') format('svg'); /* OpenSans-Regular iOS */
}

@font-face {
    font-family: 'utm-avobold';
    src: url('utm-avobold.eot'); /* IE9 Compat Modes */
    src: url('utm-avobold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('utm-avobold.woff') format('woff'), /* Modern Browsers */
    url('utm-avobold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('utm-avobold.svg#utm-avobold') format('svg'); /* OpenSans-Regular iOS */
}